{% extends 'base.html.twig' %}
{% block navigation %}
    <nav>
        <ul class="navigation">
            <li><a href="{{ path('blog_page_index') }}">Accueil</a></li>
            <li><a href="{{ path('profil') }}">Mon compte</a></li>
            <li><a href="{{ path('logout') }}">Logout</a></li>
        </ul>
    </nav>
{% endblock %}
{% block body %}
    <a style="margin: 1%" href="{{ path('profil') }}"><span class="glyphicon glyphicon-arrow-left"></span></a>
    <ul>
        {% for comment in comments %}
            <li>
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        Article : <a style="color: white; font-weight: bold"  href="{{ path('blog_page_article', {'id': comment.article.id}) }}">{{ comment.article.title }}</a>
                        <a style="float: right" href="{{ path('blog_delete_comment', { 'id': comment.id }) }}"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div style="clear: both" class="panel panel-body">
                        <p>{{ comment.content }}</p>
                        <p>posté le : {{ comment.date|date("d/m/Y") }}</p>
                    </div>
                </div>
               </li>
        {% endfor %}
    </ul>

{% endblock %}