{% extends 'base.html.twig' %}
{% block body %}
    <div class="panel panel-primary lightSpeedIn">
        <div class="panel-heading">
            <a href="{{ path('blog_page_index') }}"><span class="glyphicon glyphicon-arrow-left"></span></a> <h1>{{ article.title }}</h1>
        </div>
        <div class="panel panel-body">
            {% if article.image is not null  %}
                <img class="img-responsive" src="/bundles/framework/images/{{ article.image.url }}" alt="{{ article.image.alt }}"/>
            {% endif %}
            <p>{{ article.content }}</p>
        </div>
    </div>
            {% if comments is not null %}
                <div class="panel panel-primary">
                <ul>
                    {% for item in comments %}
                        <li><div class="panel-heading comments">
                                <img class='img-thumbnail' src="/avatars/{{ item.author.avatar }}"/>
                                <p class="username">{{ item.author.username }} : </p>
                            </div>
                            <div class="panel-body">{{ item.content }}</div></li>
                    {% endfor %}
                </ul>
                </div>
            {% endif %}

    {% if is_granted('ROLE_USER') %}
        <div class="flex">
            <div class="row">
                <div class="col-md-12">
                    <p>Posté un commentaire : </p>
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block footer %}
    <p>Vous avez lu cet article : {{ x }} fois</p>
{% endblock %}

