
{% extends 'base.html.twig' %}

{% block navigation %}
    <nav class="laptop-screen">
        <ul class="navigation">
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('blog_admin_index') }}">Back-Office</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <li><a href="{{ path('profil') }}">Mon compte</a></li>
                <li><a href="{{ path('logout') }}">Logout</a></li>
            {% else %}
                <li><a class="shake" href="{{ path('login') }}">Se connecter</a></li>
            {% endif %}
        </ul>
    </nav>
    <nav class="mobile-screen">
        <ul class="navigation">
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('blog_admin_index') }}"><span class="glyphicon glyphicon-wrench"></span></a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <li><a href="{{ path('profil') }}"><span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span></a></li>
            {% else %}
                <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}


{% block body %}

    <h2>Bienvenue {{ name }}</h2>
    <div id="section">
        <div id="divPage">
        {% for article in articles %}

                <h2 class="article_title"><a href="{{ path('blog_page_article', {'id': article.id }) }}">{{ article.title }}</a></h2>

        {% endfor %}
        </div>
    </div>
    <div id="page"></div>


{% endblock %}